<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Edição</title>
	<link rel="stylesheet" href="/manter_formulario/styles/novoformulario.css">
	<link rel="stylesheet" href="/manter_formulario/styles/form_styles.css">

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/4b0fcedc6f.js" crossorigin="anonymous"></script>
	<script src="/wmd/wmd.js"></script>
	<script src="/wmd/showdown.js"></script>
</head>
<%- include ../partials/Header.ejs%>

<body>
	<div style="display: flex; justify-content: center;">
		<div class="pageTitle">Editar Questionário</div>
	</div>

	<div class="backGround">
		<form id="form_registro" method="POST" action="/forms/salvar_edicao/<%= id %>">
			<div>
				<div style="display: flex; justify-content: center;">
					<input type="text" id="name_quest" name="name_quest" placeholder="Nome do questionário"
						class="textBoxName" value="<%= name_quest %>">
				</div>
				<div class="pageDimension">
					<div style="display: flex; flex-direction: column;">
						<label for="copy_marskdown" class="textTitles">Conteúdo</label>
						<textarea id="notes" name="copy_markdown" placeholder=" Markdown" class="textBox"
							onkeyup="stylizePreview()"></textarea>
					</div>
					<div style="display: flex; flex-direction: column;">
						<label class="textTitles">Preview</label>
						<div class="textBox" id="notes-preview" style="margin-left: 2vw">
						</div>
					</div>
					<textarea hidden="hidden" type="text" id="copy_html" name="copy_html"></textarea>
				</div>
			</div>
			<div style="float: right; margin-top: 15px; flex-direction: row; display:flex">
				<a onclick="window.location.href='/forms'">
					<div class="buttonOptionDiv" style="background-color: rgb(255, 0, 0);" title="Cancelar">
						<i class="fas fa-times" style="color: white" id="buttonIcon"></i>
					</div>
				</a>
				<button type="submit" class="buttonOption" style="background: rgb(15, 225, 20);" title="Salvar">
					<i class="fas fa-check" style="color: white"></i>
				</button>
			</div>
		</form>
	</div>

	<div class="modal fade" id="modal-form" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div id="modalHeader">
					<h5 class="modal-title" id="modalLabel">Título</h5>
				</div>
				<div id='modalBody' class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" id="btnClose" data-dismiss="modal">Texto Btn</button>
				</div>
			</div>
		</div>
	</div>

	<script src="/manter_formulario/javascript/functions_submission.js"></script>
	<script src="/manter_formulario/javascript/input_field_stylization.js"></script>

	<script type="text/javascript">
		let wmd = new WMDEditor({
			input: "notes",
			button_bar: "notes-button-bar",
			output: "copy_html",
			buttons: "bold italic link  ol ul  heading",
			modifierKeys: false,
			autoFormatting: false
		});

		function stylizePreview(html) {
			if (html) {
				document.getElementById('notes-preview').innerHTML = html;
			}
			else {
				document.getElementById('notes-preview').innerHTML = wmd.previewMgr.output();
			}
			stylizeFields(recoverInputsInformation());
		}

		insertCopyMarkdown = (markdown) => {
			let fieldText = document.getElementById('notes');
			fieldText.value = '';
			fieldText.value = markdown;
		}

		insertCopyMarkdown(<%-JSON.stringify(copy_markdown) %>);
		let converter = new Showdown.converter();
		let html = converter.makeHtml(<%-JSON.stringify(copy_markdown) %>);
		stylizePreview(html);

	</script>
</body>

</html>