<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/listagem_formulario/listForms.css">
	<script src="https://kit.fontawesome.com/4b0fcedc6f.js" crossorigin="anonymous"></script>
	<title>QuestMark</title>
</head>
<%- include ../partials/Header.ejs%>
<% if (formulario.length>0) { %>

<body>
	<br>
	<div class="wrapping">
		<% for(let i = 0;i < formulario.length;i++){ %>
		<div class="formBox">
			<div class="formText"><%= formulario[i].nome%></div>
			<div class="buttonsBox">
				<a href="/forms/listar_respostas/<%= formulario[i].id %>">
					<div class="buttonForm" style="background: #00AAFF">
						<i class="fa fa-pencil" id="buttonIcon"></i>
					</div>
				</a>
				<a href="/forms/postar/<%= formulario[i].id %>">
					<div class="buttonForm" style="background: #77D353">
						<i class="fas fa-share-alt" id="buttonIcon"></i>
					</div>
				</a>
				<a href="#">
					<div class="buttonForm" style="background: #4B2CFF">
						<i class="fas fa-chart-bar" id="buttonIcon"></i>
					</div>
				</a>
				<a href="/forms/delete/<%= formulario[i].id %>">
					<div class="buttonForm" style="background: #FF2C2C">
						<i class="fas fa-trash" id="buttonIcon"></i>
					</div>
				</a>
			</div>
			<!-- <div class="card-footer text-muted">
				Data de Criação: <%=formulario[i].data%>
			</div> -->
		</div>
		<% } %>
		<a href="/forms/registro" class="newFormButton">+</a>
	</div>
	<% }else{ %>
	<div class="nothingHere">
		<div class="nothingHereText">Nenhum Formulário Foi Cadastrado</div>
		<a href="/forms/registro" class="newFormButton">+</a>
	</div>
	<% } %>
</body>

</html>