<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/cadastro_formulario/style/header.css">
	<!-- Bootstrap CSS -->
	<link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./cabecalho/style/header.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>QuestMark</title>
</head>

<body>
	<%- include ../partials/Header.ejs%>
	<br>
	<br>
	<hr>
	<% if (formulario.length>0) { %>
	<% for(let i = 0;i < formulario.length;i++){ %>
	<div class="card border-dark mb-3" style="max-width: 22rem;margin-left: 8px ">
		<div class="card-header">Nome: <%= formulario[i].nome%></div>
		<div class="card-body text-dark">
			<a href="/forms/editar_formulario/<%= formulario[i].id %>">
				<img src="https://img.icons8.com/material-two-tone/24/000000/pencil.png"
					style="background-color:#7FCAF2;padding: 10px;border-radius: 26px;">

			</a>
			<a href="/forms/postar/<%= formulario[i].id %>">
				<img src="https://img.icons8.com/ios/24/000000/share.png"
					style="background-color:#77D353; margin-left: 30px; padding: 10px;border-radius: 20px;">

			</a>
			</a>

			<a href="/forms/listar_respostas/<%= formulario[i].id %>"">
				<img src="https://img.icons8.com/ios-filled/25/000000/75-percents.png"
					style="background-color:#4B2CFF;margin-left: 30px;padding: 10px;border-radius: 20px;">

			</a>
			<a href="/forms/delete/<%= formulario[i].id %>">
				<img src="https://img.icons8.com/android/24/000000/trash.png"
					style="background-color:#FF2C2C;margin-left: 30px;padding: 10px;border-radius: 20px;">

			</a>
		</div>
		<div class="card-footer text-muted">
			Data de Criação: <%=formulario[i].data%>
		</div>
	</div>
	</div>
	<% } %>
	<% }else{ %>
	<div class="alert alert-dark" role="alert">
		Sem Formulários Cadastrados!
	</div>
	<% } %>
	<a href="/forms/registro"><button class="btn btn-success" style="margin-left: 111px ">Novo Questionário</button></a>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>