<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="/exibicao_formulario/styles/styles.css" />

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">

	<title><%= name_quest %></title>
</head>

<body>
	<div id="main-div">
		<h1 style="text-align: center;"><%= name_quest %></h1>
		<form action="/forms/salvar_resposta/<%= id %>" method="post">
			<%- copy_html %>
			<button type="submit" id="btnSubmit" class="btn btn-primary">Enviar Resposta</button>
		</form>
	</div>

	<!-- Estilização dos campos  -->
	<script src="/exibicao_formulario/javascript/input_field_stylization.js"></script>
	<script type="text/javascript"> stylizeFields(<%-JSON.stringify(map_fields)%>) </script>
</body>
</html>